.graph-container {
    display: flex;
    flex-direction: column;
}
.no-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 340px;
    min-height: 220px;
}
.bar-graph {

}
.bar-graph__scale-label {
    font-size: 11px;
}
.bar-graph__bottom-label {
    font-size: 11px;
}