body {
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Chivo', sans-serif;
    /*font-family: 'Rubik', sans-serif;*/
    /*font-family: 'Karla', sans-serif;*/
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.left-pane, .right-pane {
    width: 50%;
}
.left-pane {

}
.right-pane {

}
.bottom-pane {
    width: 100%;
}