body {
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Chivo', sans-serif;
    /*font-family: 'Rubik', sans-serif;*/
    /*font-family: 'Karla', sans-serif;*/
}

.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 980px;
}

.left-pane, .right-pane {
    width: 50%;
}

.left-pane {

}

.right-pane {

}

.bottom-pane {
    width: 100%;
}

.header {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 39px;
    /*font-family: 'Libre Franklin', sans-serif;*/
    /*font-family: 'Chivo', sans-serif;*/
    font-family: 'Rubik', sans-serif;
    /*font-family: 'Karla', sans-serif;*/
}
.header > h1 {
    margin-bottom: 3px;
}
.header > h3 {
    font-weight: lighter;
    margin-top: 4px;
}