.map-container {
    width: 100%;
    text-align: center;
}
.map-container > svg {
    width: 800px;
    height: 566px;
    /*height: calc(100% - 70px);*/
}
.map-image {
    width: 100%;
}

.map-image > svg {
    width: 100%;

}

.land {
    fill-opacity: 1;
    stroke: '#ffffff';
    stroke-width: '0.5';
    stroke-opacity: 1;
    transition: 0.3s linear all;
}
.map-scale {
    display: flex;
    height: 40px;
    justify-content: center;
}
.map-scale__block {
    text-shadow: 0px 0px 3px #000000;
    color: white;
    min-width: 40px;
    padding: 3;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}