.country-details {
}
.country-flag {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-repeat: no-repeat;
    border: 1px solid lightgrey;
    background-size: auto 100%;
    background-position: 50%;
}

.country-details__right-pane {
}
.country-details__right-pane {

}
.country-details__box {
    padding: 0 50px;
    display: flex;
    margin: auto;
    max-width: 680px;
    font-family: 'Karla', sans-serif;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    align-items: center;
}
.country-details__box > ul {
    list-style: square;
}